@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans: "Red Hat Display", ui-sans-serif, system-ui;

  --background: #000000;
  --foreground: #FDFDFD;
  --border: #252B37;
  --input: #252B37;
  --ring: #91FF02;

  --gray-25: #FDFDFD;
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #E9EAEB;
  --gray-300: #D5D7DA;
  --gray-400: #A4A7AE;
  --gray-500: #717680;
  --gray-600: #535862;
  --gray-700: #414651;
  --gray-800: #252B37;
  --gray-900: #181D27;
  --gray-950: #0A0D12;

  --primary-100: #DAFFAB;
  --primary-200: #91FF02;
  --primary-300: #3A6601;
  --primary-400: #1D3300;
}

@theme inline {
  --font-sans: var(--font-sans);
  
  --text-display-4xl: 5rem; /* 80px */
  --text-display-4xl--line-height: 5rem;
  --text-display-3xl: 3.75rem; /* 60px */
  --text-display-3xl--line-height: 4.5rem;
  --text-display-2xl: 3rem; /* 48px */
  --text-display-2xl--line-height: 3.75rem;
  --text-display-xl: 2.5rem; /* 40px */
  --text-display-xl--line-height: 3.5rem;
  --text-display-lg: 2.25rem; /* 36px */
  --text-display-lg--line-height: 3rem;
  --text-display-md: 2rem; /* 32px */
  --text-display-md--line-height: 2.875rem;
  --text-display-sm: 1.75rem; /* 28px */
  --text-display-sm--line-height: 2.375rem;
  --text-display-xs: 1.5rem; /* 24px */
  --text-display-xs--line-height: 2.25rem;
  
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 2.125rem;
  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: 2rem;
  --text-md: 1rem; /* 16px */
  --text-md--line-height: 1.875rem;
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1.75rem;
  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1.5rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-gray-25: var(--gray-25);
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);
  
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);

  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;

  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;

  --shadow-green-glow: 0px 4px 40px 0px rgba(145, 255, 2, 0.4);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: color-mix(in srgb, var(--ring), transparent 50%);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}